$bookshelf-width: min(70vw, calc(80vh / 52.19705769 * 70));

$mobile-bookshelf-height: min(90vh, calc(80vw / 759.59 * 1643.58));
// height: calc(584 / 1148 * 70vw) + calc(209 / 378 * 30vw);
// 35.6097561 + 16.58730159 = 52.19705769

.bookshelfContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.boolshelfWrapper {
    width: $bookshelf-width;
    height: calc(584 / 1148 * $bookshelf-width);

    // (1148 584)
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.mobileBoolshelfWrapper {
    $size: $mobile-bookshelf-height;
    height: $size;
    width: calc(740 / 342 * $size);
    z-index: -1;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.bookshelfPropsWrapper {
    $size: calc($bookshelf-width / 70 * 40);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(211 / 503 * -1 * $size));
    width: $size;
    height: calc(211 / 503 * $size);
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.nameBookWrapper {
    $size: calc($bookshelf-width / 70 * 30);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(209 / 378 * -1 * $size));
    width: $size;
    height: calc(209 / 378 * $size);
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.nameInBook {
    position: absolute;
    top: 45%;
    left: 48%;

    // center vertically and horizontally
    transform: translate(-50%, -50%);
    width: calc($bookshelf-width / 70 * 20);
    height: fit-content;

    font-size: calc($bookshelf-width / 70 * 4);
    font-weight: 700;
    line-height: calc($bookshelf-width / 70 * 4);
    text-align: center;
    color: hsla(25, 28%, 35%, 1);
}

.mobileNameInBook {
    position: absolute;
    top: calc($mobile-bookshelf-height / 90 * 4);

    left: 50%;
    transform: translate(-50%, 0);
    height: fit-content;
    width: calc($mobile-bookshelf-height / 90 * 24);

    font-size: calc($mobile-bookshelf-height / 90 * 4);
    font-weight: 700;
    line-height: calc($mobile-bookshelf-height / 90 * 4);
    text-align: center;
    color: hsla(25, 28%, 35%, 1);

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.action {
    text-decoration: underline;
    cursor: pointer;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: calc($bookshelf-width / 70 * 14);

    right: 0;
    bottom: 0;

    @media screen and (max-width: 720px) {
        height: calc($mobile-bookshelf-height / 90 * 15);
        width: 75%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: calc($mobile-bookshelf-height / 90 * 3);
    }
}

.status {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 55%;
    width: calc($bookshelf-width / 70 * 17);

    left: 54%;
    transform: translateX(-54%);
    bottom: 0;

    @media screen and (max-width: 720px) {
        height: calc($mobile-bookshelf-height / 90 * 7.5);
        width: 90%;

        top: 57%;
        left: 50%;
        transform: translate(-50%, -57%);
        padding-top: calc($mobile-bookshelf-height / 90 * 3);
    }
}

.type {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: calc($bookshelf-width / 70 * 15);

    bottom: 0;

    @media screen and (max-width: 720px) {
        height: calc($mobile-bookshelf-height / 90 * 15);
        width: 90%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: calc($mobile-bookshelf-height / 90 * 5);
    }
}

.tagContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: calc($bookshelf-width / 70 * 58);
    height: calc($bookshelf-width / 70 * 10);

    // font-size: 25px;
    font-size: calc($bookshelf-width / 70 * 2.5);
    font-weight: 700;
    // line-height: 25px;
    line-height: calc($bookshelf-width / 70 * 2.5);
    text-align: center;
    color: hsla(0, 0%, 100%, 1);

    @media screen and (max-width: 720px) {
        transform: translate(-50%, -37%);
        height: calc($mobile-bookshelf-height / 90 * 52);
        width: calc($mobile-bookshelf-height / 90 * 25);
        // line-height: 20px;
        font-size: calc($bookshelf-width / 70 * 3.0);
        line-height: calc($bookshelf-width / 70 * 3.0);
    }

    @media screen and (max-width: 500px) {
        font-size: calc($bookshelf-width / 70 * 4);
        line-height: calc($bookshelf-width / 70 * 4);
    }

    @media screen and (max-width: 400px) {
        font-size: calc($bookshelf-width / 70 * 5);
        line-height: calc($bookshelf-width / 70 * 5);
    }
}

.bottomCabinet {
    position: absolute;

    bottom: calc($bookshelf-width / 70 * 1.65);
    left: 50%;
    transform: translateX(-50%);

    width: calc($bookshelf-width / 70 * 65);
    height: calc($bookshelf-width / 70 * 8.5);

    // border: solid 1px blue;

    background-color: hsla(25, 28%, 35%, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 720px) {
        background-color: transparent;
        width: 100%;
        height: calc(93 / 560 * calc($mobile-bookshelf-height / 90 * 50));
    }
}

.rsvpButtonWrapper {
    cursor: pointer;
    position: relative;
    $size: calc($bookshelf-width / 70 * 30);
    width: $size;
    height: calc(93 / 560 * $size);

    @media screen and (max-width: 720px) {
        width: calc($mobile-bookshelf-height / 90 * 50);
        height: calc(93 / 560 * calc($mobile-bookshelf-height / 90 * 50));
    }
}
