.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #65698e;
    position: relative;

    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
    background-image: url("/profile/background.svg");

    @media screen and (max-width: 720px) {
        background: none;
    }
}

.mobileWindowPaneWrapper {
    position: absolute;
    top: 64px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
    width: 60vw;
    height: calc(60vw * 481 / 273);

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.leftCurtainWrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100vh * 170 / 982);
    height: 100vh;
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.rightCurtainWrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    width: calc(100vh * 170 / 982);
    height: 100vh;
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.mobileLeftCurtainWrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100vh * 115 / 844);
    height: 100vh;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.mobileRightCurtainWrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    width: calc(100vh * 115 / 844);
    height: 100vh;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.bookshelfContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.boolshelfWrapper {
    width: 70vw;
    height: calc(584 / 1148 * 70vw);

    // (1148 584)
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.mobileBoolshelfWrapper {
    height: 90vh;
    width: calc(740 / 342 * 90vh);
    z-index: -1;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.bookshelfPropsWrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(211 / 503 * -1vw * 40));
    width: 40vw;
    height: calc(211 / 503 * 1vw * 40);

    // 503
    // 211
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.nameBookWrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(209 / 378 * -1vw * 30));
    width: 30vw;
    height: calc(209 / 378 * 1vw * 30);

    // 378
    // 209
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.nameInBook {
    position: absolute;
    top: 45%;
    left: 50%;

    // center vertically and horizontally
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;

    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: hsla(25, 28%, 35%, 1);
}

.mobileNameInBook {
    position: absolute;
    top: 4vh;

    left: 50%;
    transform: translate(-50%, 0);
    height: fit-content;
    width: 24vh;

    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: hsla(25, 28%, 35%, 1);

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.action {
    text-decoration: underline;
    cursor: pointer;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 14vw;

    right: 0;
    bottom: 0;

    @media screen and (max-width: 720px) {
        height: 15vh;
        width: 75%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 32px;
    }
}

.status {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 55%;
    width: 17vw;

    left: 54%;
    transform: translateX(-54%);
    bottom: 0;

    @media screen and (max-width: 720px) {
        height: 7.5vh;
        width: 90%;

        top: 57%;
        left: 50%;
        transform: translate(-50%, -57%);
        padding-top: 28px;
    }
}

.type {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: 15vw;

    bottom: 0;

    @media screen and (max-width: 720px) {
        height: 15vh;
        width: 90%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 28px;
    }
}

.tagContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 58vw;
    height: 10vw;

    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);

    @media screen and (max-width: 720px) {
        transform: translate(-50%, -37%);
        height: 52vh;
        width: 25vh;
    }
}

.bottomCabinet {
    position: absolute;

    bottom: 1.65vw;
    left: 50%;
    transform: translateX(-50%);

    width: 65vw;
    // height: calc(584 / 1148 * 70vw);
    height: 8.5vw;

    // border: solid 1px blue;

    background-color: hsla(25, 28%, 35%, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 720px) {
        background-color: transparent;
        width: 100%;
        height: calc(93 / 560 * 50vh);
    }
}

.rsvpButtonWrapper {
    cursor: pointer;
    position: relative;
    width: 30vw;
    height: calc(93 / 560 * 30vw);

    @media screen and (max-width: 720px) {
        width: 50vh;
        height: calc(93 / 560 * 50vh);
    }
}
