.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #65698e;
    position: relative;

    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
    background-image: url("/profile/background.svg");

    @media screen and (max-width: 720px) {
        background: none;
    }
}

.mobileWindowPaneWrapper {
    position: absolute;
    top: 64px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
    width: 60vw;
    height: calc(60vw * 481 / 273);

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.leftCurtainWrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100vh * 170 / 982);
    height: 100vh;
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.rightCurtainWrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    width: calc(100vh * 170 / 982);
    height: 100vh;
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.mobileLeftCurtainWrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100vh * 115 / 844);
    height: 100vh;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.mobileRightCurtainWrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    width: calc(100vh * 115 / 844);
    height: 100vh;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.bookshelfContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.boolshelfWrapper {
    width: 70vw;
    height: calc(584 / 1148 * 70vw);

    // (1148 584)
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.mobileBoolshelfWrapper {
    height: 90vh;
    width: calc(740 / 342 * 90vh);
    z-index: -1;
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.bookshelfPropsWrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(211 / 503 * -1vw * 40));
    width: 40vw;
    height: calc(211 / 503 * 1vw * 40);

    // 503
    // 211
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.nameBookWrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(209 / 378 * -1vw * 30));
    width: 30vw;
    height: calc(209 / 378 * 1vw * 30);

    // 378
    // 209
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.nameInBook {
    position: absolute;
    top: 45%;
    left: 50%;

    // center vertically and horizontally
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;

    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: hsla(25, 28%, 35%, 1);
}

.mobileNameInBook {
    position: absolute;
    top: 4vh;

    left: 50%;
    transform: translate(-50%, 0);
    height: fit-content;
    width: 24vh;

    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: hsla(25, 28%, 35%, 1);

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.action {
    text-decoration: underline;
    cursor: pointer;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 14vw;

    right: 0;
    bottom: 0;

    @media screen and (max-width: 720px) {
        height: 15vh;
        width: 75%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 32px;
    }
}

.status {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 55%;
    width: 17vw;

    left: 54%;
    transform: translateX(-54%);
    bottom: 0;

    @media screen and (max-width: 720px) {
        height: 7.5vh;
        width: 90%;

        top: 57%;
        left: 50%;
        transform: translate(-50%, -57%);
        padding-top: 28px;
    }
}

.type {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: 15vw;

    bottom: 0;

    @media screen and (max-width: 720px) {
        height: 15vh;
        width: 90%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 28px;
    }
}

.tagContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 58vw;
    height: 10vw;

    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);

    @media screen and (max-width: 720px) {
        transform: translate(-50%, -37%);
        height: 52vh;
        width: 25vh;
    }
}

.bottomCabinet {
    position: absolute;

    bottom: 1.65vw;
    left: 50%;
    transform: translateX(-50%);

    width: 65vw;
    // height: calc(584 / 1148 * 70vw);
    height: 8.5vw;

    // border: solid 1px blue;

    background-color: hsla(25, 28%, 35%, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 720px) {
        background-color: transparent;
        width: 100%;
        height: calc(93 / 560 * 50vh);
    }
}

.rsvpButtonWrapper {
    cursor: pointer;
    position: relative;
    width: 30vw;
    height: calc(93 / 560 * 30vw);

    @media screen and (max-width: 720px) {
        width: 50vh;
        height: calc(93 / 560 * 50vh);
    }
}

.shinyFont {
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 20px #ffb23e;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px; /* 85.714% */
}

.boldFont {
    color: #fff;
    text-align: center;
    font-size: 25px;

    font-weight: 700;
    line-height: 30px; /* 120% */
}

.standardFont {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 111.111% */

    @media screen and (max-width: 720px) {
        color: #fff;
        text-align: center;
        font-size: 24px;

        font-weight: 300;
        line-height: 32px; /* 166.667% */
    }
}

.boldFontYellow {
    color: #ffb23e;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.avatarContainer {
    position: relative;
    padding: 0 32px;
    user-select: none;
}

.avatarSlider {
    max-width: 100%;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}

.avatarSelect {
    border: 3px solid #ffb23e;
    border-radius: 10px;
    cursor: pointer;
    min-width: 150px;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
}

.avatarUnselected {
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    min-width: 150px;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
}

.leftArrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatarTitle {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.buttonGroup {
    display: flex;
    gap: 72px;

    button {
        cursor: pointer;
    }

    @media screen and (max-width: 720px) {
        display: none;
    }
}

.mobileButtonGroup {
    padding-bottom: 64px;
    padding-top: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 32px;
    flex-direction: column;

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;

    @media screen and (max-width: 720px) {
        padding-top: 128px;
        padding-bottom: 0px;
        flex: 1;
        justify-content: space-between;
    }
}

.okButton {
    cursor: pointer;
}

.input {
    display: block;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 1.25em;
    font-weight: 300;
    width: 100%;
    padding: 10px 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;

    &::placeholder {
        color: #ffffff;
        font-size: 0.9em;
    }
}
