.container {
    // background: url('/home/sponsors/background.svg') no-repeat center;
    display: grid;
    grid-template-rows: 1fr;
}

.text {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;

    @media screen and (max-width: 1280px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 1024px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 900px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
}

.background {
    grid-area: 1/1;
    background-color: #0a697f;
    width: 100%;
    height: 100%;
    > img {
        width: 100%;
        max-width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
}

.art {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    row-gap: min(5rem, calc(100vh / (1080 / 55)));

    @media screen and (max-width: 700px) {
        row-gap: 1rem;
    }

    // arranging the shelf
    > div:nth-child(1) {
        display: flex;
        flex-flow: column nowrap;
        padding-top: min(5vh, 5rem);

        // the items on the shelf
        > div {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
            column-gap: min(7.5vh, 10rem);
            transform: translateY(0.125rem);

            @media screen and (max-width: 900px) {
                column-gap: min(2.5vh, 5rem);
            }

            @media screen and (max-width: 700px) {
                column-gap: min(2.5vh, 5rem);
                transform: translateY(0.025rem);
            }

            // Sponsors Bottle
            > div:nth-child(1) {
                display: grid;
                grid-template-columns: 1fr;
                transform: translateY(0.125rem);
                @media screen and (max-width: 700px) {
                    transform: translateY(0.0065rem);
                }
                > img {
                    grid-area: 1/1;
                    width: min(30vw, 40rem);
                }
                > div {
                    grid-area: 1/1;
                    //  position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    > span {
                        margin-bottom: 15%;
                    }
                }
            }
            // Mushroom Plant
            > img:nth-child(2) {
                width: min(11.5vw, 15rem);
            }
            // Lamp
            > img:nth-child(3) {
                width: min(22.5vw, 27.5rem);
            }
        }

        // the shelf itself
        > img {
            align-self: center;
            width: 80%;
            max-width: 100%;
        }
    }

    // Arranging the Potion bottles
    > div:nth-child(2) {
        z-index: 2;
        padding: 0 5%;
        row-gap: 2.5rem;
        @media screen and (max-width: 900px) {
            row-gap: 1.5rem;
        }
        @media screen and (max-width: 700px) {
            row-gap: 1rem;
        }

        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 5%;
        }

        :not(:last-child) {
            z-index: 10;
        }

        .rowOne {
            img {
                width: min(35vw, 40rem);
                @media screen and (max-width: 1536px) {
                    width: min(32.5vw, 27.5rem);
                }
                @media screen and (max-width: 1280px) {
                    width: min(32.5vw, 27.5rem);
                }
                @media screen and (max-width: 1024px) {
                    width: min(40vw, 35rem);
                }
                @media screen and (max-width: 900px) {
                    width: min(35vw, 30rem);
                }
                @media screen and (max-width: 600px) {
                    width: min(35vw, 20rem);
                }
            }

            img:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }

        .rowTwo {
             img {
                width: min(30vw, 30rem);
                @media screen and (max-width: 1536px) {
                    width: min(25vw, 25rem);
                }
                @media screen and (max-width: 1280px) {
                    width: min(25vw, 25rem);
                }
                @media screen and (max-width: 1024px) {
                    width: min(30vw, 35rem);
                }
                @media screen and (max-width: 900px) {
                    width: min(27.5vw, 25rem);
                }
                @media screen and (max-width: 600px) {
                    width: min(25vw, 20rem);
                }
            }

            img:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }

        .rowThree {
             img {
                width: min(35vw, 40rem);
                @media screen and (max-width: 1536px) {
                    width: min(32.5vw, 27.5rem);
                }
                @media screen and (max-width: 1280px) {
                    width: min(32.5vw, 27.5rem);
                }
                @media screen and (max-width: 1024px) {
                    width: min(40vw, 35rem);
                }
                @media screen and (max-width: 900px) {
                    width: min(35vw, 30rem);
                }
                @media screen and (max-width: 600px) {
                    width: min(35vw, 20rem);
                }
            }

            img:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }

        .rowFour {
             img {
                width: min(30vw, 32.5rem);
                @media screen and (max-width: 1536px) {
                    width: min(22.5vw, 22.5rem);
                }
                @media screen and (max-width: 1280px) {
                    width: min(22.5vw, 22.5rem);
                }
                @media screen and (max-width: 1024px) {
                    width: min(30vw, 30rem);
                }
                @media screen and (max-width: 900px) {
                    width: min(25vw, 20rem);
                }
                @media screen and (max-width: 600px) {
                    width: min(25vw, 20rem);
                }
            }

            img:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }

        .rowFive {
             img {
                width: min(25vw, 25rem);
                @media screen and (max-width: 1536px) {
                    width: min(20vw, 20rem);
                }
                @media screen and (max-width: 1280px) {
                    width: min(20vw, 20rem);
                }
                @media screen and (max-width: 1024px) {
                    width: min(25vw, 27.5rem);
                }
                @media screen and (max-width: 900px) {
                    width: min(25vw, 20rem);
                }
                @media screen and (max-width: 600px) {
                    width: min(25vw, 20rem);
                }
            }

            img:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }

        .gizmo {
            z-index: 1;
            display: flex;
            justify-content: center;
            width: 100%;

            > img {
                max-width: 100%;
                width: min(80vw, 80rem);
                height: min(250vh, 175rem);
                @media screen and (max-width: 1536px) {
                    width: min(120vw, 120rem);
                    height: min(250vh, 175rem);
                }
                @media screen and (max-width: 1280px) {
                    width: min(90vw, 90rem);
                    height: min(200vh, 150rem);
                }
                @media screen and (max-width: 1024px) {
                    width: min(75vw, 75rem);
                    height: min(140vh, 140rem);
                }
                @media screen and (max-width: 900px) {
                    width: min(75vw, 60rem);
                    height: min(120vh, 120rem);
                }
                @media screen and (max-width: 600px) {
                    width: min(75vw, 35rem);
                    height: min(75vh, 80rem);
                }
            }
            margin-top: min(-75%, -75rem);
            margin-bottom: 5%;
            @media screen and (max-width: 1536px) {
                margin-top: min(-50%, -50rem);
            }
            @media screen and (max-width: 1280px) {
                margin-top: min(-30%, -35rem);
            }
            @media screen and (max-width: 1024px) {
                margin-top: min(-50%, -60rem);
            }
            @media screen and (max-width: 900px) {
                margin-top: min(-40%, -40rem);
                margin-bottom: 2%;
            }
            @media screen and (max-width: 600px) {
                margin-top: min(-20%, -20rem);
                margin-bottom: 2%;
            }
        }

        // > :nth-child(2n-1) {
        //     height: min(40vh, 25rem);
        //     width: 100%;

        //     @media screen and (max-width: 1280px) {
        //         height: min(40vh, 25rem);
        //     }

        //     @media screen and (max-width: 1024px) {
        //         height: min(30vh, 20rem);
        //     }

        //     @media screen and (max-width: 900px) {
        //         height: min(15vh, 15rem);
        //     }

        //     @media screen and (max-width: 600px) {
        //         height: min(7.5vh, 6rem);
        //     }
        // }

        // > :nth-child(2n-2) {
        //     width: min(25vw, 22.5rem);
        //     height: 100%;

        //     @media screen and (max-width: 1280px) {
        //         width: min(25vw, 22.5rem);
        //     }

        //     @media screen and (max-width: 1024px) {
        //         width: min(25vw, 20rem);
        //     }

        //     @media screen and (max-width: 900px) {
        //         width: min(20vw, 20rem);
        //     }

        //     @media screen and (max-width: 600px) {
        //         width: min(17.5vw, 12.5rem);
        //     }
        // }

        > img {
            width: 50%;
        }

        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
    }

    // .gizmo {
    //     //  z-index: 1;
    //     display: flex;
    //     justify-content: center;
    //     width: 100%;

    //     > img {
    //         max-width: 100%;
    //     }
    //     margin-top: -50%;
    //    // margin: 0 0 calc((100% / 10));

    //     // @media screen and (max-width: 1280px) {
    //     //     margin: 0 0 calc((100% / 10));
    //     // }

    //     // @media screen and (max-width: 1024px) {
    //     //     width: min(20vw, 20rem);
    //     // }

    //     // @media screen and (max-width: 900px) {
    //     //     width: min(20vw, 20rem);
    //     // }

    //     // @media screen and (max-width: 600px) {
    //     //     width: min(15vw, 15rem);
    //     // }

    //     // > img {
    //     //     overflow: hidden;
    //     //     width: 100%;
    //     //     height: min(150rem, calc(100vh / (1080 / 2100)));
    //     //     max-width: 100%;
    //     //     //  max-width: 50%;
    //     // }
    // }
}
