.input {
    display: block;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 1.25em;
    font-weight: 300;
    width: 100%;
    padding: 10px 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;

    &::placeholder {
        color: #ffffff;
        font-size: 0.9em;
    }
}

.multiline {
    width: 100%;
    min-height: 35vh;
    padding: 15px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    background-color: #638f70;
    border-bottom: none;

    @media (max-width: 1024px) {
        font-size: 14px;
        min-height: 20vh;
    }

    &::placeholder {
        font-family: inherit;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 0.9em;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
