.container {
    background-color: rgba(255, 255, 255, 0.48);
    padding: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 5rem;
    @media screen and (max-width: 1536px) {
        min-height: 4rem;
    }
    @media screen and (max-width: 1280px) {
        min-height: 3rem;
    }
    @media screen and (max-width: 900px) {
        min-height: 2.5rem;
    }
    @media screen and (max-width: 700px) {
        min-height: 2rem;
    }
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-in-out;
}

.container:hover {
    transform: rotate(360deg);
}

.name {
    color: #01444f;
    font-size: 3rem;
    @media screen and (max-width: 1536px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1.5rem;
    }
    font-weight: 700;
    text-align: center;
}

.name_solana {
    color: #01444f;
    font-size: 2rem;
    @media screen and (max-width: 1536px) {
        font-size: 1.75rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.125rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
    font-weight: 700;
    text-align: center;
}

.name_john {
    color: #01444f;
    font-size: 2.5rem;
    @media screen and (max-width: 1536px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 1.75rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1.125rem;
    }
    font-weight: 700;
    text-align: center;
}

.name_warp {
    color: #01444f;
    font-size: 2.5rem;
    @media screen and (max-width: 1536px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1.125rem;
    }
    font-weight: 700;
    text-align: center;
}

.image {
    max-width: 100%;
    width: 15rem;
    height: 7.5rem;
    @media screen and (max-width: 1536px) {
        width: 12rem;
        height: 6rem;
    }
    @media screen and (max-width: 1280px) {
        width: 10rem;
        height: 5rem;
    }
    @media screen and (max-width: 900px) {
        width: 6rem;
        height: 3rem;
    }
    @media screen and (max-width: 700px) {
        width: 6rem;
        height: 3rem;
    }
}

.image_solana {
    max-width: 100%;
    width: 17.5rem;
    max-height: 4rem;
    object-fit: contain;

    @media screen and (max-width: 1536px) {
        width: 15rem;
        max-height: 2.75rem;
    }
    @media screen and (max-width: 1280px) {
        width: 12rem;
        max-height: 2rem;
    }
    @media screen and (max-width: 900px) {
        width: 8rem;
        max-height: 1.25rem;
    }
}

.image_john {
    max-width: 100%;
    width: 15rem;
    height: 10rem;
    @media screen and (max-width: 1536px) {
        width: 12rem;
        height: 8rem;
    }
    @media screen and (max-width: 1280px) {
        width: 10rem;
        height: 7.5rem;
    }
    @media screen and (max-width: 900px) {
        width: 7.5rem;
        height: 5rem;
    }
}

.image_warp {
    max-width: 100%;
    width: 17.5rem;
    height: 4rem;
    @media screen and (max-width: 1536px) {
        width: 15rem;
        height: 2.75rem;
    }
    @media screen and (max-width: 1280px) {
        width: 12rem;
        height: 2.5rem;
    }
    @media screen and (max-width: 900px) {
        width: 8rem;
        height: 1.25rem;
    }
}

.desc {
    color: #fff;
    font-size: 3rem;
    @media screen and (max-width: 1536px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.75rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1.5rem;
    }
    font-weight: 700;
    text-align: center;
}

.desc_solana {
    color: #fff;
    font-size: 3rem;
    @media screen and (max-width: 1536px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.75rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1.5rem;
    }
    font-weight: 700;
    text-align: center;
}

.desc_john {
    color: #fff;
    font-size: 2rem;
    @media screen and (max-width: 1536px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.125rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
    font-weight: 700;
    text-align: center;
}

.desc_warp {
    color: #fff;
    font-size: 2rem;
    @media screen and (max-width: 1536px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 1.125rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
    font-weight: 700;
    text-align: center;
}

.prize_type {
    color: #01444f;
    font-size: 1.5rem;
    @media screen and (max-width: 1536px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 1280px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 900px) {
        font-size: 0.75rem;
    }
    @media screen and (max-width: 700px) {
        font-size: 0.75rem;
    }
    font-weight: 700;
    text-align: center;
    margin-bottom: -0.5vh; /* With reference to the overal flexbox row-gap */
    margin-top: -1.5vh; /* With reference to the overal flexbox row-gap */
}
