.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;

    margin-top: 4rem;

    width: 30rem;
    height: 32.5rem;
    @media screen and (max-width: 1280px) {
        width: 27.5rem;
        height: 30rem;
    }
    @media screen and (max-width: 1024px) {
        width: 25rem;
        height: 30rem;
    }
    @media screen and (max-width: 900px) {
        width: 20rem;
        height: 27.5rem;
    }
    @media screen and (max-width: 700px) {
        width: 20rem;
        height: 25rem;
    }


    .header {
        font-size: 1.75rem;
        @media screen and (max-width: 1280px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1.375rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1.25rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 1.125rem;
        }
        font-weight: 600;
        text-align: center;
    }

    .content {
        padding: 0 20%;
        @media screen and (max-width: 1280px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 1024px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 900px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 700px) {
            padding: 0 20%;
        }
    }

    .text{
        font-size: 1.25rem;
        @media screen and (max-width: 1280px) {
            font-size: 1.125rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.875rem;
        }
        text-align: center;
    }

    .subText {
        font-size: 1rem;
        @media screen and (max-width: 1280px) {
            font-size: 0.875rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 0.75rem;
        }
        @media screen and (max-width: 900px) {
            font-size:0.6751rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.5rem;
        }
        text-align: center;
    }

    .marginTop{
        margin-top: 7rem;
        @media screen and (max-width: 900px) {
            margin-top: 0.75rem;
        }
        @media screen and (max-width: 700px) {
            margin-top: 0.5rem;
        }
    }

    .button {
        > img {
            max-width: 75%;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}
