.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 2rem;
}

.box {
    background-color: #8b0a2b;
    border: 0.25rem solid #ffb23e;
    padding: 3rem;
    overflow-y: scroll;
    max-height: 60dvh;
    max-width: 75vw;

    @media screen and (max-width: 1280px) {
        max-height: 37.5rem;
        margin-top: 5rem;
    }
    @media screen and (max-width: 1024px) {
        max-height: 35rem;
        max-width: 80vw;
    }
    @media screen and (max-width: 900px) {
        max-height: 32.5rem;
        max-width: 80vw;
    }
    @media screen and (max-width: 700px) {
        max-height: 30rem;
        max-width: 90vw;
    }
}

.content {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3.5rem;

    .compact {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .listItem {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    .problemListItems {
        > ol {
            > li {
                margin-left: 2rem;
            }
        }
    }

    .block {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.25rem;

        > ul > li {
            margin-left: 2rem;
        }
    }

    .colouredText {
        //  display: block;
        color: #b3d689;
    }

    .marginTop {
        margin-top: 1rem;
    }

    .marginLeft {
        margin-left: 1rem;
    }

    .header {
        font-size: 1.75rem;
        @media screen and (max-width: 1280px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1.375rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1.25rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 1.125rem;
        }
        font-weight: 600;
    }

    .challengeText{
        margin-bottom: 1.5rem;
    }

    .text {
        font-size: 1.25rem;
        @media screen and (max-width: 1280px) {
            font-size: 1.125rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.875rem;
        }
        font-weight: 500;
    }

    .exampleGraph {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 700px) {
            flex-wrap: wrap;
        }
        align-items: center;
        justify-content: center;
        column-gap: 3rem;
        row-gap: 2rem;
        padding: 0 2rem;
        > img {
            width: 50%;
            @media screen and (max-width: 700px) {
                width: 100%;
            }
            max-width: 100%;
        }
    }
}

.buttonsDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;

    .button {
        > img {
            max-width: 75%;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

.fetchJwtButtonDiv {
    margin: 2.5rem 0 0; // row-gap of listItem will be added on top of margin-top
    text-align: center;
    .fetchButton {
        background-color: #ffb23e;
        color: #a61e00;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 0.875rem;
        padding: 0.75rem 3rem;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}
