.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 32.5rem;
    height: 35rem;
    @media screen and (max-width: 1536px) {
        margin-top: -30%;
    }
    @media screen and (max-width: 1280px) {
        width: 40rem;
        height: 37.5rem;
        margin-top: 0%;
    }
    @media screen and (max-width: 1024px) {
        width: 35rem;
        height: 35rem;
        margin-top: 0%;
    }
    @media screen and (max-width: 900px) {
        width: 30rem;
        height: 25rem;
        margin-top: 15%;
    }
    @media screen and (max-width: 700px) {
        width: 25rem;
        height: 20rem;
    }

    .image {
        height: 100%;
        width: 100%;
    }

    .content {
        padding: 0 5%;
        @media screen and (max-width: 1280px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 1024px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 900px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 700px) {
            padding: 0 20%;
        }
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1rem;
    }

    .hackText {
        text-align: center;
        font-size: 2.5rem;
        @media screen and (max-width: 1280px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 2.125rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 2rem;
        }
        font-weight: 800;
        .knightText {
            color: #ffb23e;
        }
    }

    .text {
        font-size: 1.25rem;
        @media screen and (max-width: 1280px) {
            font-size: 1.125rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.875rem;
        }
        font-weight: 600;
        text-align: center;
    }

    .subText {
        font-size: 1rem;
        @media screen and (max-width: 1280px) {
            font-size: 0.875rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 0.75rem;
        }
        @media screen and (max-width: 900px) {
            font-size:0.6751rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.5rem;
        }
        text-align: center;
    }

    .marginTop {
        margin-top: 1.5rem;
    }

    .buttonDiv {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 10%;
        text-align: center;

        .button {
            > img {
                max-width: 75%;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }
}
