.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #65698e;
    position: relative;

    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
    background-image: url("/profile/background.svg");

    @media screen and (max-width: 720px) {
        background: none;
    }
}

.mobileWindowPaneWrapper {
    position: absolute;
    top: 64px;
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
    width: 60vw;
    height: calc(60vw * 481 / 273);

    @media screen and (min-width: 720px) {
        display: none;
    }
}

.leftCurtainWrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100vh * 170 / 982);
    height: 100vh;
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.rightCurtainWrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    width: calc(100vh * 170 / 982);
    height: 100vh;
    @media screen and (max-width: 720px) {
        display: none;
    }
}

$translate-curtain: 2vh;

.mobileLeftCurtainWrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100vh * 115 / 844);
    height: 100vh;
    transform: translateX(-$translate-curtain);
    @media screen and (min-width: 720px) {
        display: none;
    }
}

.mobileRightCurtainWrapper {
    position: absolute;
    right: 0;
    z-index: 1;
    width: calc(100vh * 115 / 844);
    height: 100vh;
    transform: translateX($translate-curtain);
    @media screen and (min-width: 720px) {
        display: none;
    }
}
