.travel {
    background: #2F3359;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .castle {
        z-index: 1;
        margin-top: 20vh;
        margin-bottom: 0;
        position: relative;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 912px) {
            margin-top: 30vh;
        }
    }
    .castleBase {
        position: relative;
        background-color: #C6CFD3;
        width: 70vw;
        height: 100vh;

        @media (max-width: 912px) {
            width: 90vw;
        }
    }
    .castleTop {
        position: relative;
        width: 75vw;
        height: fit-content;
        @media (max-width: 912px) {
            display: none;
        }
    }
    .mobileTop {
        display: none;
        @media (max-width: 912px) {
            display: block;
            position: relative;
            width: 100vw;
            height: fit-content;
        }
    }

    .doorway {
        position: absolute;
        height: 95vh;
        width: 65vw;
        background: #6A7274;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100px 100px 0 0;
        border: 15px solid #ADB1B3;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 912px) {
            width: 80vw;
            height: 98vh;
            border-radius: 80px 80px 0 0;
            border: 10px solid #ADB1B3;
        }
    }
    .travelInfo {
        position: relative;
        bottom: 0;
        width: 55vw;
        height: 85vh;
        color: white;
        font-size: 1.2rem;
        padding: 1rem;
        overflow: auto;
        
        ul {
            padding-left: 50px;
        }
        a {
            color: #fffa9aa8;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: 912px) {
            width: 75vw;
            height: 86vh;
            
        }
    }

    .rightTower {
        position: absolute;
        right: 0vw;
        bottom: 0;
        width: 16vw;
        height: fit-content;
        @media (max-width: 912px) {
            display: none;
        }
    }
    .leftTower {
        position: absolute;
        left: 0vw;
        width: 42vw;
        height: fit-content;
        bottom: 0;
        @media (max-width: 912px) {
            display: none;
        }
    }
    .leftFlames {
        position: absolute;
        left: 0vw;
        width: 13vw;
        height: fit-content;

        @media (max-width: 912px) {
            // z-index: 2;
            width: 30vw;
            top: 18vh;
            left: 15vw;
        }

    }
    .alan {
        display: none;
        @media (max-width: 912px) {
            display: block;
            position: absolute;
            width: 20vw;
            height: fit-content;
            top: 14vh;
            left: 10vw;
        }
    }
    .mobileFlame {
        display: none;
        @media (max-width: 912px) {
            display: block;
            position: absolute;
            width: 30vw;
            height: fit-content;
            right: 5vw;
            top: -10vh;
            z-index: -1;
        }
    }

    .middleCloud {
        position: absolute;
        width: 15vw;
        height: fit-content;
        top: 5vh;
        left: 30vw;
        @media (max-width: 912px) {
            left: 0;
            width: 30vw;
            top: 8vh;
        }
    }
    .rightCloud {
        position: absolute;
        width: 11vw;
        height: fit-content;
        top: 30vh;
        right: 0;
        @media (max-width: 912px) {
            top: 10vh;
            width: 25vw;
        }
    }

    .brick1 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 20vh;
        left: 0;
        @media (max-width: 912px) {
            width: 4vw;

        }
    }

    .brick2 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 42vh;
        transform: scaleX(1.2);
        transform-origin: left;
        left: 0;
        @media (max-width: 912px) {
            width: 4vw;

        }
    }

    .brick3 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 80vh;
        left: 0;
        @media (max-width: 912px) {
            width: 4vw;

        }
    }

    .brick4 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 5vh;
        transform: scaleX(2);
        transform-origin: right;
        right: 0;
        @media (max-width: 912px) {
            width: 4vw;
            transform: scaleX(1.5);

        }
    }
    .brick5 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 30vh;
        transform: scaleX(1.1);
        transform-origin: right;
        right: 0;
        @media (max-width: 912px) {
            width: 4vw;
        }
    }

    .brick6 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 70vh;
        transform: scaleX(1.2);
        transform-origin: right;
        right: 0;
        @media (max-width: 912px) {
            width: 4vw;
        }
    }
    .brick7 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 50vh;
        right: 0;
        @media (max-width: 912px) {
            width: 4vw;
        }
    }
    .brick8 {
        position: absolute;
        width: 2vw;
        height: fit-content;
        top: 60vh;
        left: 0;
        @media (max-width: 912px) {
            width: 4vw;
        }
    }
    
}