.container {
    display: flex;
    background-color: #414358;
    padding: 2.5%;
    width: 100%;
    column-gap: 2.5%;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    @media screen and (max-width: 1536px) {
        border-radius: 2rem;
    }
    @media screen and (max-width: 1280px) {
        border-radius: 1.5rem;
    }
    @media screen and (max-width: 1024px) {
        border-radius: 1rem;
    }
    @media screen and (max-width: 900px) {
        border-radius: 0.75rem;
    }
    @media screen and (max-width: 700px) {
        border-radius: 0.675rem;
    }
    height: 20rem;
    @media screen and (max-width: 1536px) {
        height: 15rem;
    }
    @media screen and (max-width: 1280px) {
        height: 12rem;
    }
    @media screen and (max-width: 1024px) {
        height: 8rem;
    }
    @media screen and (max-width: 900px) {
        height: 6rem;
    }
    @media screen and (max-width: 700px) {
        height: 4rem;
    }

    .image {
        flex: 0 0 12.5rem;
        @media screen and (max-width: 1536px) {
            flex: 0 0 10rem;
        }
        @media screen and (max-width: 1280px) {
            flex: 0 0 7.5rem;
        }
        @media screen and (max-width: 1024px) {
            flex: 0 0 6.25rem;
        }
        @media screen and (max-width: 900px) {
            flex: 0 0 5rem;
        }
        @media screen and (max-width: 700px) {
            flex: 0 0 2.5rem;
        }
        > img {
            width: 20rem;
            max-width: 100%;
            height: 100%;
        }
    }

    .body {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 2.5%;
        .name {
            font-size: 3rem;
            @media screen and (max-width: 1536px) {
                font-size: 2rem;
            }
            @media screen and (max-width: 1280px) {
                font-size: 1.75rem;
            }
            @media screen and (max-width: 1024px) {
                font-size: 1.5rem;
            }
            @media screen and (max-width: 900px) {
                font-size: 1.25rem;
            }
            @media screen and (max-width: 700px) {
                font-size: 0.675rem;
            }
            font-weight: 700;
        }
        .desc {
            font-size: 1.5rem;
            @media screen and (max-width: 1536px) {
                font-size: 1.125rem;
            }
            @media screen and (max-width: 1280px) {
                font-size: 1.0625rem;
            }
            @media screen and (max-width: 1024px) {
                font-size: 1rem;
            }
            @media screen and (max-width: 900px) {
                font-size: 0.75rem;
            }
            @media screen and (max-width: 700px) {
                font-size: 0.5rem;
            }
            font-weight: 500;
            max-height: 75%;
            overflow-y: scroll;
        }
    }
}
